name: Build, Test, and Release

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            binary: ultrawm.exe
            upload: ultrawm-windows-x64.exe
          - os: macos-latest
            target: aarch64-apple-darwin
            binary: ultrawm
            upload: ultrawm-macos-arm64

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
        with:
          key: ${{ matrix.target }}
      - name: Build
        run: cargo build --release --verbose
      - name: Run tests
        run: cargo test --release --verbose
      - name: Upload artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.upload }}
          path: |
            target/release/${{ matrix.binary }}
          if-no-files-found: error
